body {
    background-color: powderblue;
}

.flex_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_box{
    display: inline-block;
    background: white;
    padding: 50px;
    min-width: 350px;
    margin: auto;
    min-height: 300px;
    text-align: center;
    border: solid black;
}

ul.error{
    border: red 2px dashed;
}

form>div{
    margin: 5px;
}

button[type="submit"]{
    margin: 10px;
    min-width: 60px;
}

input[readonly]{
    background-color: #EDEDED;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}