body {
  background-color: powderblue;
}

.login_class{
  background: white;
  padding: 50px;
  width: 350px;
  margin: auto;
  margin-top: 50px;
  height: 300px;
  text-align: center;
  border: solid black;
}

#login_button{
  margin: 10px;
  width: 60px;
}
