div{
    border: solid black;
    width: 350px;
    padding: 50px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    background-color: white;
}

body{
    background-color :powderblue;
    
}

.button_style{
    margin: 10px;
  
  }